
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  /*
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }*/
  /*/
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  */
  .active-tabs  {
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--first-color);
    border: 2px solid var(--first-color);
    transition: var(--transition); 
  }
/*
  .tabs {
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid white; 
  }*/

  .tabs:hover  {
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid var(--first-color); 
    color: var(--first-color);
  }

  .tabs:active{
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--first-color);
    border: 2px solid var(--first-color);
    transition: var(--transition); 
  }
  /*
  .active-tabs::before {
   
    background: rgb(88, 147, 241);
  }*/
  
  
  
  button {
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 2px solid white; 
    background: white;
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
  /*  background: white;*/
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  } 
  
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
    animation: fade 0.75s ease forwards;
  }
  
  @keyframes fade {

    0%   { opacity: 0; }
    100% { opacity: 1; }
  
  }

 
  .tab-nav {
    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-wrap:       wrap;
    gap: 20px 0;
    margin-bottom: 40px;
  }
 

/*** Line Between ***/
  .tab-nav li { position: relative; }
  
  .tab-nav li:not(:last-child) { padding-right: 25px; }
  .tab-nav li:not(:last-child) { padding-left: 20px; }
  
  .tab-nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    background: #0f8a75;
    width: 40px;
    height: 3px;
    top:   55%;
    right: 20px;
  }
  
  
  /*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2); 
}
.qualification__button {
  font-size: var(--h3-font -size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification__button:hover {
  color: var(--first-color);
}
.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qualification__data { 
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
} /*
.qualification--button {
  background-color: #fbfbfe;
  border: none;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color-lighter);
  cursor: pointer;
}  
.qualification--button:hover {
  color: var(--first-color);
} */
.qualification_align{
  text-align: right;
}
.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}
.qualification [data-content] {
  display: none;
}
.qualification__active[data-content] {
  display: block;
}
.qualification__button.qualification__active {
  color: var(--first-color);
}