.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, transparent, var(--first-color), transparent
    );
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about_me-image:hover {
    transform: rotate(0);
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card {
    color: white;
    background: var(--first-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
}

.about_card:hover {
    color: var(--first-color);
    background: transparent;
    border-color: var(--first-color);
    cursor: default;
}

.about_icon {
   /* color: var(--first-color);*/
   font-size: 1.4rem;
   
}

.about_card h5 {
    font-size: 0.95rem;
}

.about_card small {
    font-size: 0.7rem;
    /*color: hsl(170, 100%, 52%);*/
}

.about_content p {
    margin: 2rem 0 2.6rem;
   /* color: var(--first-color)*/
}

/*** MEDIA QUERIES (SMALL DEVICES) ***/
@media screen and (max-width: 600px) {
   .about_me {
       width: 65%;
       margin: 0 auto 3rem;
   }

   .about_cards {
       grid-template-columns: 1fr 1fr;
       gap: 1rem;
   }
   
    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1rem 5rem 0;
    }
}
 

/*** MEDIA QUERIES (MEDIUM DEVICES) ***/
@media screen and (max-width: 1024px) {
  /* .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }    
    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about_content {
        margin: 1rem 0 1.5rem;
    }*/
    
}
