header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/** Nav Head **/
.head {
    position: fixed;
    top: 0;
    left: 0;
   
    display: flex;
    background-color: transparent;
    
    justify-content: space-between;
    
    align-items: center;
}
.nav_logo {

}

/*** Header Btn ***/
.header_btn {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*** Header Socials ***/
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 2.5px;
    height: 2rem;
    background: var(--first-color);
}

/*** Profile ***/
.profile { 
    background: var(--first-color); 
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 50%;
    overflow: hidden;
} 

.profile-pic {
    display: inline;
    margin: 0 auto;
    left: calc(50% - 11rem);
    height: 100%;
    width: auto;
  }

  /*** Scroll Dowm ***/
  .scroll_down {
      color: var(--first-color);
      position: absolute;
      right: -2.3rem;
      bottom: 5rem;
     row-gap: 2.25rem;
     display: grid;
      justify-items: center;
  }

  .scroll_icon {
   
      font-size: 1.25rem;
  }

  .scroll_name {
       
      transform: rotate(-90deg);
  }