<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King'ori. | Portifolio</title>
</head>
<body>
    <section class="skills section" id="skills">
        <h2 class="section__title">Skills</h2>
        <span class="section__subtitle">My Technical Level </span>

        <div class="skills__container container grid">
          <div>
          
            <div class="skills__content skills__open">
              <div class="skills__header">
                <i class="uil uil-brackets-curly skills__icon"></i>

                
                <div>
                  <h1 class="skills__titles">Frontend developer</h1>
                  <span class="skills__subtitle">More than 2 years</span>
                </div>
                <i class="uil uil-angle-down skills__icon skills__arrow"></i>
              </div>
              
              <div class="skills__list grid">
               
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">HTML</h3>
                    <span class="skills__number">90%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__html"></div>
                  </div>
                </div>
                
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">CSS</h3>
                    <span class="skills__number">80%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__css"></div>
                  </div>
                </div>
               
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">JavaScript</h3>
                    <span class="skills__number">60%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__js"></div>
                  </div>
                </div>
          
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Sass</h3>
                    <span class="skills__number">50%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__sass"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
           
            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-server skills__icon"></i>

               
                <div>
                  <h1 class="skills__titles">Backend developer</h1>
                  <span class="skills__subtitle">More than 1 y ears</span>
                </div>
                <i class="uil uil-angle-down skills__icon skills__arrow"></i>
              </div>
           
              <div class="skills__list grid">
             
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">PHP</h3>
                    <span class="skills__number">40%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__php"></div>
                  </div>
                </div>
            
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">MySQL</h3>
                    <span class="skills__number">50%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__mysql"></div>
                  </div>
                </div>
               
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Node Js</h3>
                    <span class="skills__number">55%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__node"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            
            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-crop-alt-rotate-right skills__icon"></i>

                
                <div>
                  <h1 class="skills__titles">Designer</h1>
                  <span class="skills__subtitle">More than 5 years</span>
                </div>
                <i class="uil uil-angle-down skills__icon skills__arrow"></i>
              </div>
             
              <div class="skills__list grid">
              
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Photoshop</h3>
                    <span class="skills__number">90%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__photoshop"></div>
                  </div>
                </div>
              
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Illustrator</h3>
                    <span class="skills__number">87%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__illustrator"></div>
                  </div>
                </div>
              
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">XD</h3>
                    <span class="skills__number">80%</span>
                  </div>
                  <div class="skills__bar">
                    <div class="skills__percentage skills__xd"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

         
           <div class="skills__content skills__close">
            <div class="skills__header">
              <i class="uil uil-wifi-router skills__icon"></i>

           
              <div>
                <h1 class="skills__titles">Network Admin</h1>
                <span class="skills__subtitle">More than 6 months</span>
              </div>
              <i class="uil uil-angle-down skills__icon skills__arrow"></i>
            </div>
          
            <div class="skills__list grid">
           
              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills__name">Routing protocols configuration</h3>
                  <span class="skills__number">50%</span>
                </div>
                <div class="skills__bar">
                  <div class="skills__percentage skills__routing"></div>
                </div>
              </div>
        
              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills__name">Cisco IOS Commands</h3>
                  <span class="skills__number">55%</span>
                </div>
                <div class="skills__bar">
                  <div class="skills__percentage skills__cisco"></div>
                </div>
              </div>
          
              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills__name">Switching and VLAN configuration</h3>
                  <span class="skills__number">53%</span>
                </div>
                <div class="skills__bar">
                  <div class="skills__percentage skills__switching"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>  
      
    <script src="main.js"></script>
</body>
</html>