/*** GOOGLE FONTS ***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}  

:root {
   

  /** Transition **/
  --transition: all 400ms ease-in-out;

  --container-width-large: 75%;
  --container-width-medium: 85%;
  --container-width-small: 90%;

  /*** Font and typography ***/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  
  /*** Font weight ***/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*** Margin Bottom ***/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem; 

   /*** z index ***/
   --z-tooltip: 10;
   --z-fixed: 100;
   --z-modal: 1000;
}

body.light {
  /*** Colors ***/
  /* Change favorite color */
  --hue-color: 170; 

  /* HSL color mode */
  --sat: 66%;
  --lig: 75%;
  --first-color: hsl(var(--hue-color), 80%, 30%);  /* hsl(170, 80%, 30%) */
  --first-color-second: #43cbb5; /* hsl(var(--hue-color), 57%, 53%)*/
  --first-color-second-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter-alt: hsl(var(--hue-color), 92%, 85%);
  --first-color-hover: #43cbb5; /* hsl(var(--hue-color), 57%, 53%)*/
  --first-color-alt: #14b89c; /* hsl(var(--hue-color), 80%, 40%)*/
  --first-color-lighter: #b6fcf0; /*hsl(var(--hue-color), 92%, 85%)*/
  --title-color: hsl(170,15,9);/*hsl(var(--hue-color), 15%, 9%)*/
  --text-color: #364946; /*hsl(var(--hue-color), 15%, 25%)*/
  --text-color-alt: #364946; /*hsl(var(--hue-color), 15%, 25%)*/
  --text-color-light: #7b9d98; /*hsl(var(--hue-color), 15%, 55%)*/
  --body-color: hsl(170, 97%, 97%); /*hsl(var(--hue-color), 97%, 97%)*/
  --container-color: #fff;
}

/*** Variables Dark theme ***/
body.dark {
  --hue-color: 170; 

  /* HSL color mode */
  --sat: 66%;
  --lig: 75%;
  --first-color: hsl(var(--hue-color), 80%, 30%);  /* hsl(170, 80%, 30%) */
  --first-color-second: hsl(170, 80%, 30%);
  --first-color-second-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsla(var(--hue-color), 80%, 30%, 0.3);
  --first-color-lighter-alt: hsl(var(--hue-color), 92%, 85%);
  --first-color-alt: #14b89c; /* hsl(var(--hue-color), 80%, 40%)*/
  --first-color-hover: #43cbb5; /* hsl(var(--hue-color), 57%, 53%)*/
  --title-color: hsl(170, 8%, 95%);
  --text-color: hsl(170, 8%, 75%);
  --text-color-alt: hsl(var(--hue-color), 15%, 25%);
  --input-color: hsl(170, 29%, 16%);
  --body-color: hsl(170, 28%, 12%);
  --container-color: #fff;
}

/*** LAYOUT ***/

  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  
/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }



html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--body-color);
    color: var(--text-color);
    line-height: 1.7;
    transition: var(--transition);
}

/*** GENERAL CSS ***/
.container {
    max-width: 968px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

section {
    margin-top: 8rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--text-color);
}

section > h2 {
    color: var(--first-color);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--text-color);
}
/*
a {
    color: var(--first-color);
    transition: var(--transition);
}

a:hover {
    color: var(--first-color-hover);
}*/

.btn {
    width: max-content;
    display: inline-block;
    color: var(--first-color);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid var(--first-color);
    transition: var(--transition); 
}

.btn:hover {
    background: var(--first-color-hover);
    color: white;
    border-color: transparent
}

.btn-primary {
    background: var(--first-color);
    color: var(--container-color);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*** MEDIA QUERIES (SMALL DEVICES) ***/
@media screen and (max-width: 539px) {
  .container {
    width: var(--container-width-small);
}

section {
  margin-top: 2rem;
}

header {
  padding-top: 1rem;
  height: 100vmax;
}

  .header_btn {
    margin-top: 1.2rem;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .download-btn {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .salute {
    margin-top: 3rem;
  }

  .profile {
    width: 14rem;
    height: 14rem;
    left: calc(50% - 7rem);
  }

  .header_social-link {
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }

  .header-items{
    margin-top: 3rem;
}

.testimonial {
    padding: 1.5rem;
}

.client_avatar {
  width: 2rem;
  margin-bottom: 0.5rem;
}

.container.testimonials_container {
  width: 85%;
  padding-bottom: 2rem;
}

.client_review {
  margin: 0 auto 0;
}


.btn, .btn-primary, .gallery_btn, .gallery_btn-primary {
  font-size: small;
  padding: 10px;
}
.header_btn {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.2rem;
  
  }
  
.gallery_btn {
  margin: 5px;
}

.contact_option {
  margin-bottom: 2%;
}
.contact_form-tag {
  left: 15%;
}
.contact_form-div {
  margin-bottom: 1rem;
}

.footer_social {
  margin-right: 1rem;
}

  
}


@media screen and (min-width: 540px) and (max-width: 860px) {

  .container {
      width: var(--container-width-medium);
  }
  
  .salute {
      margin-top: 7rem;
  }
  
  .myname,
  .text-light {
      margin-top: 0.5rem;
  }
  
  /*** Header Socials ***/
  .header_socials {
    bottom: 10%;
  }
  
    /*** Scroll Dowm ***/
  .scroll_down { 
    bottom: 15%;
  }
  
  .testimonial {
    padding: 1.5rem;
  }
  
  .client_avatar {
  width: 2rem;
  margin-bottom: 0.5rem;
  }
  
  .container.testimonials_container {
  width: 85%;
  padding-bottom: 2rem;
  }
  
  .client_review {
  margin: 0 auto 0;
  }
  
.container.contact_container {
  width: 90%;
  grid-template-columns: 1fr;
  gap: 3%;
}

  .contact_form-tag {
    left: 9%;
  }
  .container.testimonials_container {
    width: 80%;
    padding-bottom: 4rem;
 }
  }
  

@media screen and (min-width: 674px) {
  .container.contact_container {
    width: 90%;
    display: grid;
    grid-template-columns: 37% 58%;
    gap: 5%;
    /*row-gap: 2rem;*/
}
  
.contact_form-tag {
  left: 46%;
}

.contact_title {
  display: none;
}
.container.testimonials_container {
  width: 70%;
  padding-bottom: 4rem;
}

.salute {
  margin-top: 7rem;
}
}

@media screen and (min-width: 861px) and (max-width: 1200px) {
  
.container {
  width: var(--container-width-medium);
}

.salute {
  margin-top: 7rem;
}

.myname,
.text-light {
  margin-top: 0.5rem;
}

/*** Header Socials ***/
.header_socials {
  bottom: 10%;
}

  /*** Scroll Dowm ***/
.scroll_down { 
  bottom: 15%;
}

.contact_form-tag {
  left: 45%;
}

.contact_title {
  display: none;
}

.container.testimonials_container {
  width:70%;
  padding-bottom: 4rem;
}
}

@media screen and (min-width: 1201px) {
  .contact_form-tag {
    left: 47%;
  }
  
.contact_title {
  display: none;
}

/*** Header Socials ***/
.header_socials {
  bottom: 10%;
}

  /*** Scroll Dowm ***/
.scroll_down { 
  bottom: 15%;
}
.container.testimonials_container {
  width: 40%;
  padding-bottom: 4rem;
}

.salute {
  margin-top: 7rem;
}
}




@media screen and (min-width: 635px) and (max-width: 701px) {
  .gallery_btn, .gallery_btn-primary {
    font-size: small;
    padding: 10px;
  }
}

@media screen and (min-width: 976px) and (max-width: 1075px) {
  .gallery_btn, .gallery_btn-primary {
    font-size: small;
    padding: 10px;
  }
}
  
