nav {
    background: hsla(170, 80%, 30%, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    color: white;
    background: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    /*color: var(--first-color);*/
    font-size: 1.3rem;
}

nav a:hover {
    color: white;
    background: var(--first-color);
}

nav a.active {
    background: var(--first-color);
}